django
uwsgi
psycopg2
psycopg2-binary
requests
requests-cache
beautifulsoup4
pyyaml
black
flake8
djangorestframework
django-cors-headers
django_filter
pandas
google
googleads
mecab-python3
google-cloud-language
openpyxl
django-structlog
django-background-tasks
fastcache
fake-useragent
google-api-python-client
stringcase